
@{
    Layout = null;
}

<html style="height: auto; min-height: 100%;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!--
    Yêu cầu trình duyệt phản ứng với chiều rộng màn hình -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Areas/Admin/Luutru/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome phông chữ -->
    <link rel="stylesheet" href="~/Areas/Admin/Luutru/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Các icon -->
    <link rel="stylesheet" href="~/Areas/Admin/Luutru/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Areas/Admin/Luutru/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load.  thư mục thay vì tải xuống tất cả chúng để giảm tải -->
    <link rel="stylesheet" href="~/Areas/Admin/Luutru/dist/css/skins/_all-skins.min.css">

    <link rel="stylesheet" href="~/Areas/Admin/Luutru/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

</head>

<body class="sidebar-mini skin-purple" style="height: auto; min-height: 100%;">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">



    <div class="wrapper" style="height: auto; min-height: 100%;">

        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices (thiết bị di động) -->
                <span class="logo-lg"><b>Admin</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Nút chuyển đổi thanh bên-->


                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="~/Areas/Admin/Luutru/anhdoan/anh.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">Nguyễn Hoài</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Areas/Admin/Luutru/anhdoan/anh.jpg" class="img-circle" alt="User Image">

                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Hồ sơ</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Request.Url.Scheme://@Request.Url.Authority/Admin/Home/Login" class="btn btn-default btn-flat">Đăng xuất</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar" style="height: 450px">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Areas/Admin/Luutru/anhdoan/anh.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Nguyễn Hoài</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu tree" data-widget="tree">

                    <li class="">
                        <a href="@Request.Url.Scheme://@Request.Url.Authority">
                            <i class="fa fa-dashboard"></i><span>Trang chủ</span>
                        </a>
                    </li>
                    <li class="">
                        @* bỏ cái class treeview ở đây đi là đc nha *@
                        <a href="@Request.Url.Scheme://@Request.Url.Authority/Admin/SanPhams/Index">

                            <i class="fa fa-pie-chart"></i>
                            <span>Quản Lý Sản Phẩm</span>

                        </a>
                        @*<ul class="treeview-menu" style="display: none;">
                <li><a href="Quanlysach.html"><i class="fa fa-circle-o"></i>Danh sách sản phẩm</a></li>
                <li><a href="Themsach.html"><i class="fa fa-circle-o"></i>Thêm sản phẩm</a></li>
            </ul>*@
                    </li>
                    <li class="">
                        @* bỏ cái class treeview ở đây đi là đc nha *@
                        <a href="@Request.Url.Scheme://@Request.Url.Authority/Admin/LoaiSPs/Index">

                            <i class="fa fa-pie-chart"></i>
                            <span>Quản Lý Loại Sản Phẩm</span>

                        </a>
                        @*<ul class="treeview-menu" style="display: none;">
                <li><a href="Quanlysach.html"><i class="fa fa-circle-o"></i>Danh sách sản phẩm</a></li>
                <li><a href="Themsach.html"><i class="fa fa-circle-o"></i>Thêm sản phẩm</a></li>
            </ul>*@
                    </li>

                    <li class="">
                        <a href="@Request.Url.Scheme://@Request.Url.Authority/Admin/NhaCungCaps/Index">
                            <i class="fa fa-laptop"></i>
                            <span>Quản Lý Nhà Cung Cấp</span>
                            @*<span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>*@
                        </a>
                        @*<ul class="treeview-menu" style="display: block;">
                <li><a href="QuanlyNXB.html"><i class="fa fa-circle-o"></i>Danh sách nhà cung cấp</a></li>
                <li><a href="ThemNXB.html"><i class="fa fa-circle-o"></i>Thêm nhà cung cấp</a></li>
            </ul>*@
                    </li>

                    <li class="">
                        <a href="@Request.Url.Scheme://@Request.Url.Authority/Admin/KhachHangs/Index">
                            <i class="fa fa-files-o"></i>
                            <span>Quản Lý Khách Hàng</span>
                            @*<span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>*@
                        </a>
                        @*<ul class="treeview-menu" style="display: none;">
                <li><a href="Quanlykhachhang.html"><i class="fa fa-circle-o"></i>Danh sách khách hàng</a></li>
                <li><a href="Themkh.html"><i class="fa fa-circle-o"></i>Thêm khách hàng</a></li>
            </ul>*@
                    </li>
                    <li class="">
                        <a href="@Request.Url.Scheme://@Request.Url.Authority/Admin/NhanViens1/Index">
                            <i class="fa fa-files-o"></i>
                            <span>Quản Lý Nhân Viên</span>
                            @*<span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>*@
                        </a>
                        @*<ul class="treeview-menu" style="display: none;">
                <li><a href="Quanlykhachhang.html"><i class="fa fa-circle-o"></i>Danh sách khách hàng</a></li>
                <li><a href="Themkh.html"><i class="fa fa-circle-o"></i>Thêm khách hàng</a></li>
            </ul>*@
                    </li>


                    <li class="">
                        <a href="@Request.Url.Scheme://@Request.Url.Authority/Admin/Home/Index">
                            <i class="fa fa-laptop"></i>
                            <span>Thống Kê Báo Cáo</span>
                            <span class="pull-right-container">
                                <!--i class="fa fa-angle-left pull-right"></i-->
                            </span>
                        </a>


                    </li>
                    <li class="">
                        <a href="@Request.Url.Scheme://@Request.Url.Authority/Admin/DonHang/Index">
                            <i class="fa fa-laptop"></i>
                            <span>Quản lý đơn hàng</span>
                            <span class="pull-right-container">
                                <!--i class="fa fa-angle-left pull-right"></i-->
                            </span>
                        </a>


                    </li>

                    @*<li class="">
            <a href="@Url.Action("Index", "Blobs")">
                <i class="fa fa-files-o"></i>
                <span>Quản lý ảnh</span>
            </a>
        </li>*@
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: 575.838px;">
            @RenderBody()
        </div>

        <!-- /.content-wrapper -->
        <!-- jQuery 3 -->
        <script src="~/Areas/Admin/Luutru/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="~/Areas/Admin/Luutru/bower_components/jquery-ui/jquery-ui.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>$.widget.bridge('uibutton', $.ui.button);</script>
        <!-- Bootstrap 3.3.7 -->
        <script src="~/Areas/Admin/Luutru/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Morris.js charts -->
        <script src="~/Areas/Admin/Luutru/bower_components/raphael/raphael.min.js"></script>
        <script src="~/Areas/Admin/Luutru/bower_components/morris.js/morris.min.js"></script>
        <!-- Sparkline -->
        <script src="~/Areas/Admin/Luutru/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
        <!-- jvectormap -->
        <script src="~/Areas/Admin/Luutru/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <!-- jQuery Knob Chart -->
        <script src="~/Areas/Admin/Luutru/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
        <!-- daterangepicker -->
        <script src="~/Areas/Admin/Luutru/bower_components/moment/min/moment.min.js"></script>
        <script src="~/Areas/Admin/Luutru/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- datepicker -->
        <script src="~/Areas/Admin/Luutru/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="~/Areas/Admin/Luutru/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
        <!-- Slimscroll -->
        <script src="~/Areas/Admin/Luutru/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <!-- FastClick -->
        <script src="~/Areas/Admin/Luutru/bower_components/fastclick/lib/fastclick.js"></script>
        <!-- AdminLTE App -->
        <script src="~/Areas/Admin/Luutru/dist/js/adminlte.min.js"></script>
        <script src="~/Areas/Admin/Luutru/dist/js/adminlte.min.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="dist/js/pages/dashboard.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="~/Areas/Admin/Luutru/dist/js/demo.js"></script>
        @RenderSection("Scripts", false)
    </div>


</body>

</html>
<style>
    .skin-purple .main-header .navbar {
        background-color: #3c8dbc;
    }
    .skin-purple .main-header .logo {
        background-color: #367fa9;
        color: #fff;
        border-bottom: 0 solid transparent;
    }
    .skin-purple .main-header li.user-header {
        background-color: #3c8dbc;
    }
</style>